.grid {
  height : 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;   /*https://www.w3schools.com/css/css3_flexbox.asp*/
  background-color:#808080;
}

/*I only want to style the div inside class grid*/
.grid div {
  height: 40px;
  width: 40px;
}

.checked {
  background-color: red;
}

.bomb {
  background-color: orange;
}

